.newsletter-banner {
    max-width: 1327px;
    height: 394px;
    margin: auto;
    position: relative;
    width: 100%;
}

.newsletter-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4rem;
}

.newsletter-content {
    position: absolute;
    display: flex;
    width: 100%;
    top: 15%;
    align-items: center;
    padding: 3rem;
}

.newsletter-heading {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.newsletter-heading h2 {
    color: #FFF;
    font-family: Barlow;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 86.4px;
    letter-spacing: 0.72px;
}

.newsletter-paragraph {
    color: rgba(250, 250, 250, 0.90);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.18px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.newsletter-paragraph p {
    max-width: 16rem;
    padding-bottom: 16px;
}

.newsletter-input-container {
    display: flex
}

input.newsletter-input {
    height: 6rem;
    border-radius: 20px 0px 0px 20px;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    flex: 1;
}

button.newsletter-subscribe {
    padding: 2rem 4rem;
    border: none;
    background: var(--color-new-lightblue);
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    width: 237px;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.2px;
}

@media screen and (max-width: 600px) {
    .newsletter-content {
        flex-direction: column;
        top: 0;
        padding: 10px;
    }

    .newsletter-paragraph p {
        max-width: 100%;
        text-align: center;
    }

    .button.newsletter-subscribe {
        padding: 1rem;
    }

    .input.newsletter-input {
        height: 4rem;
    }

    .newsletter-input-container {
        max-width: 500px;
        margin: auto;
    }

    .newsletter-heading h2 {
        font-size: 40px;
        text-align: center;
        line-height: normal;
    }

    .newsletter-bg-img {
        border-radius: 10px;
    }
}



.newsletter-banner {
    max-width: 1327px;
    height: 394px;
    margin: auto;
    position: relative;
    width: 100%;
}

.newsletter-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4rem;
}

.newsletter-content {
    position: absolute;
    display: flex;
    width: 100%;
    top: 15%;
    align-items: center;
    padding: 3rem;
}

.newsletter-heading {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.newsletter-heading h2 {
    color: #FFF;
    font-family: Barlow;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 86.4px;
    letter-spacing: 0.72px;
}

.newsletter-paragraph {
    color: rgba(250, 250, 250, 0.90);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.18px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.newsletter-paragraph p {
    max-width: 16rem;
    padding-bottom: 16px;
}

.newsletter-input-container {
    display: flex
}

input.newsletter-input {
    height: 6rem;
    border-radius: 20px 0px 0px 20px;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    flex: 1;
}

button.newsletter-subscribe {
    padding: 2rem 4rem;
    border: none;
    background: var(--color-new-lightblue);
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    width: 237px;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.2px;
}

@media screen and (max-width: 600px) {
    .newsletter-content {
        flex-direction: column;
        top: 0;
        padding: 10px;
    }

    .newsletter-paragraph p {
        max-width: 100%;
        text-align: center;
    }

    .button.newsletter-subscribe {
        padding: 1rem;
    }

    .input.newsletter-input {
        height: 4rem;
    }

    .newsletter-input-container {
        max-width: 500px;
        margin: auto;
    }

    .newsletter-heading h2 {
        font-size: 40px;
        text-align: center;
        line-height: normal;
    }

    .newsletter-bg-img {
        border-radius: 10px;
    }
}