.coming-soon-container.coming-soon-container {
	background-image: url('../assets/Gradient-comming-soon.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	text-align: center;
	text-transform: capitalize;
	margin: auto;
	padding-bottom: 2rem;
}
.coming-soon-container.coming-soon-container h1 {
	font-weight: 700;
	font-size: 40px;
	line-height: 96px;
	margin: auto;
	padding-top: 10rem;
}
@media screen and (min-width:600px) {
	.coming-soon-container.coming-soon-container h1{
		font-size: 80px;
	}
}
.coming-soon-container.coming-soon-container .sub-content {
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	margin-top: 26px;
	max-width: 678px;
	margin-left: auto;
	margin-right: auto;
}
.coming-soon-container .input-container {
	margin-top: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 727px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 28px;
}
.coming-soon-container .input-text-container {
	width: 76%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* flex: 0; */
}
.coming-input-textarea{
	height: auto !important;
}
.coming-soon-container .input-text-container label{
	align-self: baseline;
	margin: 10px 0;
}
.coming-soon-container .coming-input {
	border: 1px solid #878686;
	height: 60px;
	padding: 26px 19px;
	border-radius: 9px;
	font-size: 18px;
	color: #787777;
	width: 100%;
}
.coming-soon-container .notify-btn {
	background-color: var(--color-new-lightblue);
	border: 1px solid var(--color-new-lightblue);
	color: #fff;
	padding: 19px 34px;
	border-radius: 9px;
	margin-left: 18px;
	font-size: 20px;
	cursor: pointer;
}
.coming-soon-container .error-txt{
	position: absolute;
	margin-top: 10px;
}
.error-txt a{
	color: var(--color-new-cyan);
  }